#demo {
    height: 100px;
    width: 1000px;
    font-size: 100px;
    margin: 300px auto;
    background: red;
    text-align: center;
    color: #ffffff;
    box-shadow: 10px 10px 0px -3px rgba(0,0,0,0.75);
    user-select: none;
}